* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.page {
    height: 100%;
    width: 100%;
    background-color: #121212;
}


.toolTip {
    z-index: 1;
    opacity: 85%;
    position: absolute;
    bottom: 0;
    left: -120%;
    transition: left 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
}

.toolTipImg{
    min-width: 60%;
    max-width: 60%;
    width: 60%;
    align-self: start;
    transform: scale(-1, 1);
    justify-self: start;
}

.toolTipText {
    width: 60%;
    align-self: center;
    justify-self: start;
    width: fit-content;
    height: fit-content;
    padding: 20px 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
}

.loader {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s linear,opacity 0.5s linear;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.15);
    z-index: 9999;
}

.loader-visible {
    display: flex;
}

.loader-visible__animation {
    visibility: visible;
    opacity: 1;
}

.loader-image {
    width: 70vw;
    height: fit-content;
}

.hide {
    opacity: 0;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
}

.show {
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
}
