* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    height: 100vh;
    width: 100vw;
}

.page {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(/images/BG.jpg);
    background-size: contain;
}


.toolTip {
    z-index: 1;
    opacity: 70%;
    position: absolute;
    bottom: -8%;
    right: -100%;
    transition: right 1s ease-in-out;
    display: flex;
    flex-direction: column;
}

.toolTipImg {
    width: 60%;
    align-self: end;
    justify-self: end;
}

.toolTipText {
    width: 60%;
    align-self: center;
    justify-self: start;
    width: fit-content;
    height: fit-content;
    padding: 20px 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
}
